app-content {
  display: block;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  padding-top: calc(env(safe-area-inset-top) + 80px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 80px);
}
