app-content {
  display: block;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  padding-top: calc(var(--sai-top, env(safe-area-inset-top, 0px)) + 80px);
  padding-bottom: calc(var(--sai-bottom, env(safe-area-inset-bottom, 0px)) + 80px);
}
